*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
body{
    background-color: #F1F1F1;
}
.head{
    text-align: center;
    margin-top: 30px;
}
.head h1{
    font-size: 50px;
}
.head p{
    color: black;
    margin-top: 10px;
}
.container{
    width: 70%;
    height: 60vh;
    margin-left: 234px;
    margin-top: 70px;
    display: inline-block;
    position: relative;
}
.row{
    
    width: 100%;
    height: 50%;
    position: absolute;
}
#firstcontent .row .col-4 .layout{
    position: absolute;
    background-color: #11D2B3;
    height: 100%;
    width: 33.33%;
}
.row .col-4 h4,h5,p,a{
    color: white;
    padding-left: 40px;
}
.row .col-4 h4{
    padding-top: 30px;
}
.row .col-4 h5,p,a{
    display: block;
    padding-top: 20px;
}
#firstcontent .row .col-4 .icon-1{
    position: absolute;
    background-color: white;
    width:33.33%;
    height: 100%;
    left: 33.33%;
    font-size: 60px;
    text-align: center;
    padding-top: 8%;
}
#firstcontent .row .col-4 .layout-2{
    position: absolute;
    background-color: #F0C40D;
    height: 100%;
    width:33.33%;
    left: 66.66%;
}
#secondcontent .row{
    bottom: 0;
}
#secondcontent .row .col-4 .icon-1{
    position: absolute;
    background-color: white;
    width:33.33%;
    height: 100%;
    left: 0;
    font-size: 60px;
    text-align: center;
    padding-top: 8%;
}
#secondcontent .row .col-4 .layout{
    position: absolute;
    background-color: #4511d2;
    height: 100%;
    width: 33.33%;
    left: 33.33%;
}
#secondcontent .row .col-4 .icon-2{
    position: absolute;
    background-color: white;
    width:33.33%;
    height: 100%;
    right: 0;
    font-size: 60px;
    text-align: center;
    padding-top: 8%;
}
