*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}
body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
    width: 100vw;
    height: 20vh;
    position: relative;
}
.logo{
    height: 10vh;
    position: absolute;
    left: 49px;
    top: 25px;

}
.logo img{
    height: 100%;
}
.menu{
    position: absolute;
    text-transform: uppercase;
    right: 150px;
    top: 50px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 10px;

}
.menu select{
    margin-right: 10px;
    text-align: center;
    background: none;
    border: none;
    color: white;
    font-size: 25px;
}
.menu select option{
    background: none;
    color: black;
}
.social{
    position: absolute;
    right: 50px;
    top: 51px;
}
.social i{
    font-size: 30px;
    color: white;
    margin-right: 10px;
}
.content{
    width: 100%;
    height: 60vh;
    position: relative;
}
.content .text-area{
    position: absolute;
    height: 55%;
    width: 35%;
    top:50px;
    left: 120px;

}
.content .text-area .header{
    color: white;
    font-size: 40px;
}
.content .text-area .text {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    width: 550px;
}
.content .button{
    position: absolute;
    left:130px;
    top: 315px;
}
.content .button button{
    width: 150px;
    height: 40px;
    color: white;
    background: none;
    font-size: 10px;
    border: 2px solid white;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    border-radius: 35px;
    text-transform: uppercase;
}
.content .form{
    position: absolute;
    background-color: white;
    width: 25%;
    height: 400px;
    text-align: center;
    justify-content: center;
    right: 250px;
}
.content .form form{
    margin-left: 80px;
    margin-top: 70px;
}
.content .form input{
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 15px;
}
.content .form input:focus{
    outline: none;
    padding-left: 20px;
}
.content .form input:focus::-webkit-input-placeholder {
    color: transparent;
}
.content .form input::placeholder{
    padding-left: 20px;
}
.content .form button{
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    text-align: center;
    background-color: tomato;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.content .form select{
    display: block;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    text-align: center;
}

.content .from select{
    width: 250px;
    height: 40px;
}
.foot{
    height: 5vh;
    width: 100%;
    background-color: thistle;
    position: absolute;
    bottom: 0;
}
